body {
  font-family: Arial, sans-serif;
}

header img {
  margin-bottom: 10px;
}

/* Highlight the active nav link */
.nav-link.active {
  text-decoration: underline;
  font-weight: bold;
}
.text-orange {
  color: #fcb300 !important;  /* ensures it overrides white */
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 12s linear infinite;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.6;
}

/* Start the scroll closer to view */
@keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
