body {
  font-family: Arial, sans-serif;
}

header img {
  margin-bottom: 10px;
}

/* Highlight the active nav link */
.nav-link.active {
  text-decoration: underline;
  font-weight: bold;
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 20s linear infinite;
  font-size: 22 px;
  line-height: 1.6;
}

@keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
